.loader{
    display: flex;
    padding: 15px;
    margin-top: 15px;
    justify-content: space-between;
    border: 2px solid teal;
    align-items: center;
}

.loader_done{
    border: 2px solid teal;
}

.loader_inProgress{
    border: 2px solid cornflowerblue;
}

.progress{
    margin-top: 5px;
    width: 600px;
}